doctype html
html
	head
		title= title
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body(cz-shortcut-listen="true")
		div(class="container")
			block content